/* Grid Header */
.header-container {
  background-image: url("../img/HexaBackgroundHeader.jpg");
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr 100px;
      grid-template-areas: "menu       " "main-header" "end-header ";
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

/* Navbar header */
.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.menu_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu_links a {
  display: block;
  text-decoration: none;
}

ul.show {
  top: 0px;
}

.btn_menu {
  display: none;
  cursor: pointer;
  font-size: 1.25em;
}

.btn_menu:hover, .btn_menu:focus, .btn_menu:active {
  color: transparent;
  -webkit-text-stroke: 1px #FFF0F0;
  -webkit-transition: .5s;
  transition: .5s;
}

.logo {
  margin: auto 20%;
}

.logo img {
  height: 100px;
}

/* Main header */
.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main-header;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .personal-information {
  /* TODO Change position absolute at logo */
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  z-index: 4;
}

.main-header .personal-information h1 {
  font-size: calc(18px + 2.5vw);
  font-weight: 600;
  line-height: 1.125;
}

.main-header .personal-information h3 {
  margin-bottom: .5em;
  font-size: calc(12px + 1.5vw);
  font-weight: 300;
  line-height: 1.125;
}

.main-header .logo-m {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 3;
}

.main-header .logo-m img {
  width: 100%;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.main-header .rrss {
  grid-column: 3 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  float: block;
  margin: 1em;
  text-align: right;
  font-size: calc(18px + 2.5vw);
}

.main-header .rrss a {
  color: #968D8D;
  text-decoration: none;
}

.main-header .rrss a:hover, .main-header .rrss a:focus, .main-header .rrss a:active {
  color: transparent;
  -webkit-text-stroke: 1px #FFF0F0;
  -webkit-transition: .5s;
  transition: .5s;
}

/* End Header */
.end-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: end-header;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-header .go-projects-label {
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.end-header .cookies-text a {
  margin: 2em;
  color: #968D8D;
  text-decoration: none;
  float: right;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: -1;
}

.end-header .cookies-text a:hover, .end-header .cookies-text a:focus, .end-header .cookies-text a:active {
  color: #DB0700;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

/* Small Screen */
@media screen and (max-width: 768px) {
  /* Navbar Logo */
  .logo {
    margin: 0 auto;
  }
  .logo img {
    height: 100%;
    background-size: cover;
  }
  /* Navbar responsive */
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: flex-end;
    margin-right: 50px;
    z-index: 6;
  }
  .menu_links {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/BackgroundMenuResponsive.jpg");
    background-size: cover;
    top: -100vh;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
  }
  .menu_links li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_links li:hover {
    background: none;
  }
}

@media screen and (max-width: 600px) {
  .personal-information {
    margin-left: 10%;
  }
}

/* Palette */
.main-content {
  padding: 100px 0px;
  background-image: url("../img/WhiteGeometry.png");
  background-repeat: repeat;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main-content;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "projects" "courses";
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

/* Projects */
.projects {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: projects;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.project {
  width: 800px;
  height: 410px;
  grid-column: span 2;
  z-index: 3;
}

.project:before {
  position: absolute;
  content: "";
  width: 800px;
  height: 410px;
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  z-index: -1;
}

.project:nth-child(odd) {
  justify-items: end;
}

.project:nth-child(even) {
  justify-items: start;
}

.project:nth-child(1):before {
  background-image: url("../img/CasaModerna.jpg");
}

.project:nth-child(4):before {
  background-image: url("../img/CasaModerna2.jpg");
}

.project:nth-child(5):before {
  background-image: url("../img/LogoMantiWhiteBackBlack.png");
}

.project:nth-child(8):before {
  background-image: url("../img/EquipoEmpresarial.jpg");
}

.project:hover:before, .project:focus:before {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.project .project-content {
  padding: 20px 20px;
}

.project .project-content h1 {
  font-size: calc(18px + 2.5vw);
  font-weight: 600;
  line-height: 1.125;
}

.project .project-content h3 {
  margin-bottom: 0.5em;
  font-size: calc(12px + 1.5vw);
  font-weight: 300;
  line-height: 1.125;
}

.technologies {
  width: 250px;
  height: 250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.5rem;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  grid-column: span 1;
}

.technologies:nth-child(odd) {
  justify-items: start;
}

.technologies:nth-child(even) {
  justify-items: end;
}

.technologies:before {
  position: absolute;
  content: "";
  width: 250px;
  height: 250px;
  background-image: url("../img/CodigoProgramacion.jpg");
  background-size: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  z-index: -1;
}

.technologies:hover, .technologies:focus {
  -webkit-clip-path: circle(70% at 50% 50%);
          clip-path: circle(70% at 50% 50%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.technologies:hover ul, .technologies:focus ul {
  display: block;
}

.technologies:hover:before, .technologies:focus:before {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.technologies ul {
  display: none;
  font-size: calc(6px + 1.2vh);
  list-style: none;
  padding-left: 0;
  text-align: center;
}

/* Courses */
.courses {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: courses;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  /* 6 without extra courses */
  row-gap: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.courses:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  background-image: url("../img/WhiteGeometry.png");
  background-repeat: repeat;
  -webkit-filter: invert(95%);
          filter: invert(95%);
  -webkit-clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
  z-index: 2;
}

.title-courses {
  margin-top: 150px;
  width: 100%;
  grid-column: span 2;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 1000;
}

.title-courses:nth-child(1) {
  color: #000000;
}

/* Palette */
* {
  margin: 0%;
  padding: 0%;
}

body {
  background: #000000;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFF0F0;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh (auto)[2];
      grid-template-rows: 100vh repeat(2, auto);
  /* grid-template-areas:"header         header         header         header         header"
                        "main-content   main-content   main-content   main-content   main-content"
                        "footer         footer         footer         footer         footer"; */
      grid-template-areas: "header" "main-content" "footer";
}

/* Button of information */
/* TODO Modify btn-outline-info of boostrap 5 */
.but-info, .but-info:visited {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  color: #FFF0F0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #DB0700;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-family: 'Montserrat', inherit;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.but-info:hover, .but-info:active, .but-info:focus {
  color: #DB0700;
  border: 1px solid #FFF0F0;
  -webkit-transition: .7s;
  transition: .7s;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  background-color: #DB0700;
}
/*# sourceMappingURL=global.css.map */