/* Palette */
$primary-color: #000000;
$secondary-color: #DB0700;
$third-color: #968D8D;
$fourth-color: #C2B6B6;
$fifth-color: #FFF0F0;

$text: #FFF0F0;
$font-family: 'Montserrat', sans-serif;
$font-size: 16px;


$logo-footer-height: 100px;
$height-footer: 300px;

footer {
    width: 100vw;
    margin-bottom: 50px;
    text-align: center;
    background-image: url("../img/BlackGeometry.png");
    background-repeat: repeat;
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-self: center;
}

.logo-footer {
    margin: 0 auto;
    img {
        height: $logo-footer-height;
    }
}

.rrss-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $logo-footer-height;
    font-size: calc(18px + 1.5vw);
    a{
        margin: 0 1%;
        color: $third-color;
        text-decoration: none;
        &:hover, &:focus, &:active{
            color: transparent;
            -webkit-text-stroke: 1px $text;
            transition: .5s;
        }
    }
}

.copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $logo-footer-height;
}

hr {
    width: 50%;
    margin: auto;
    opacity: 50%;
    border: 3px solid $secondary-color;
    border-radius: 1.5rem;
}

/* Small Screen */
@media screen and (max-width: 1024px){

    /* rrss footer */
    .rrss-footer {
        font-size: calc(18px + 3.5vw);
    }

}