/* Palette */
$primary-color: #000000;
$secondary-color: #db0700;
$third-color: #968d8d;
$fourth-color: #c2b6b6;
$fifth-color: #fff0f0;

$font-family: "Montserrat", sans-serif;
$font-size: 16px;
$text: #fff0f0;

:root {
    --height-footer: 300px;
}

.main-content {
    padding-top: 100px;
    background-image: url("../img/WhiteGeometry.png");
    background-repeat: repeat;
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "projects"
        "courses";
    align-content: space-between;
}

/* Projects */
.projects {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: grid;
    grid-area: projects;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 200px;
    justify-self: center;
}

.project {
    width: 800px;
    height: 410px;
    grid-column: span 2;
    z-index: 3;
    &:before {
        position: absolute;
        content: "";
        width: 800px;
        height: 410px;
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        filter: brightness(60%);
        z-index: -1;
    }
    &:nth-child(odd) {
        justify-items: end;
    }
    &:nth-child(even) {
        justify-items: start;
    }
    &:nth-child(1) {
        &:before {
            background-image: url("../img/CasaModerna.jpg");
        }
    }
    &:nth-child(4) {
        &:before {
            background-image: url("../img/CasaModerna2.jpg");
        }
    }
    &:nth-child(5) {
        &:before {
            background-image: url("../img/LogoMantiWhiteBackBlack.png");
        }
    }
    &:nth-child(8) {
        &:before {
            background-image: url("../img/EquipoEmpresarial.jpg");
        }
    }
    &:hover,
    &:focus {
        &:before {
            filter: brightness(30%);
            transition: 0.8s;
        }
    }
    .project-content {
        padding: 20px 20px;
        h1 {
            font-size: calc(18px + 2.5vw);
            font-weight: 600;
            line-height: 1.125;
        }
        h3 {
            margin-bottom: 0.5em;
            font-size: calc(12px + 1.5vw);
            font-weight: 300;
            line-height: 1.125;
        }
    }
}

.technologies {
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    clip-path: circle(50% at 50% 50%);
    grid-column: span 1;
    &:nth-child(odd) {
        justify-items: start;
    }
    &:nth-child(even) {
        justify-items: end;
    }
    &:before {
        position: absolute;
        content: "";
        width: 250px;
        height: 250px;
        background-image: url("../img/CodigoProgramacion.jpg");
        background-size: cover;
        filter: brightness(70%);
        z-index: -1;
    }
    &:hover,
    &:focus {
        clip-path: circle(70% at 50% 50%);
        transition: 1.2s;
        ul {
            display: block;
        }
        &:before {
            filter: brightness(30%);
            transition: 1.2s;
        }
    }

    ul {
        display: none;
        font-size: calc(6px + 1.2vh);
        list-style: none;
        padding-left: 0;
        text-align: center;
    }
}


/* Courses */

.courses {
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: calc(100vh - var(--height-footer) - 10vh);
        margin-top: 10vh;
        background-image: url('../img/WhiteGeometry.png');
        background-repeat: repeat;
        filter: invert(95%);
        clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    width: 100%;
    height: calc(100vh - var(--height-footer));
    background-image: url('../img/WhiteGeometry.png');
    background-repeat: repeat;
    height: calc(100vh - var(--height-footer));
    display: grid;
    grid-area: courses;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-self: center;
}

.title-courses {
    margin-top: 150px;
    width: 100%;
    text-align: center;
    color: $primary-color;
}

.study-center {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 50px;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    h3 {
        grid-column: span 2;
    }
    &:nth-last-child(1) {
        margin-bottom: 100px;
    }
}

.course-technology {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $secondary-color;
    border-radius: 2.5rem;
    box-shadow: inset 0 0 10px 0 black;
    z-index: -2;
    transform: translate(-5px, -5px);
}

.course {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fourth-color;
    border-radius: 2.5rem;
    box-shadow: inset 0 0 10px 0 black;
    z-index: 10;
}


footer {
    width: 100vw;
    height: var(--height-footer);
    background-color: burlywood;
    z-index: 1;
    position: sticky;
    bottom: 0;
    left: 0;
    display: grid;
    grid-area: footer;
}
