@import "../libs/bootstrap-5.0.2/scss/bootstrap.scss";
@import "../css/global.css";

/* Palette */
$primary-color: #000000;
$secondary-color: #DB0700;
$third-color: #968D8D;
$fourth-color: #C2B6B6;
$fifth-color: #FFF0F0;

$text: #FFF0F0;
$font-family: 'Montserrat', sans-serif;
$font-size: 16px;

.link-primary {
    color: $text;
    &:hover, &:focus{
        color: $secondary-color;
    }
}
